* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: rgb(211, 206, 200);
}

.fashion {
  font-size: 150px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 200px;
  font-family: Alfa Slab One;
  color: rgb(43, 36, 30);
}

.flex {
  display: flex;
  justify-content: center;

  padding-top: 30px;
  padding-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  background-color: rgba(90, 83, 72, 0.8);
  padding: 50px;
  margin: 30px;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
  color: rgb(43, 36, 30);
  font-family: bebas neue;
}
