* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: rgb(211, 206, 200);
}

h1 {
  font-family: Alfa Slab One;
  font-size: 60px;
  margin-left: 60px;
  margin-top: 100px;
  color: rgb(43, 36, 30);
}

/* brødkrummesti */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  margin-left: 50px;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #1d385a;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.productlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.colon1 .colon2 .colon3 .colon4 .colon5 .colon6 {
  padding: 10px;
}

.titel {
  font-family: Alfa Slab One;
  font-size: 20px;
  margin-top: 30px;
  color: rgb(43, 36, 30);
}

.pris {
  font-family: Qwitcher Grype;
  margin-bottom: 50px;
  font-size: 20px;
  color: rgb(43, 36, 30);
}
